body{
    background-color: rgb(255, 255, 255);
    font-family: var(--fuenteparrafos);
font-size: 1.6rem;
line-height: 2;
}
a{
    text-decoration: none;
} 
.navbar {
width: 100%;
margin-top: 10px;
background-color: rgb(255, 255, 255);
position: fixed;
top: -14rem;
z-index: 150;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0.2rem 0.2rem 0.2rem #ff0000;
/* text-align: center; */
transition: top 0.4s;
}
.navbar.change {
top: 0;
transition: top 0.4s 0.2s;
}
.navbar-link {
color: #FFD700;
margin-top: 10px;
margin: 0 4rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* position: relative; */
opacity: 0;
transition: color 0.3, opacity, 2s;
}
.change .navbar-link {
opacity: 1;
}

.change .navbar-link:nth-child(1) {
transition: opacity 0.4s 0.5s, color 0.3s;
}

.change .navbar-link:nth-child(2) {
transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3) {
transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4) {
transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5) {
transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
color:#ff0000;
}

.navbar-link i {
font-size: 7rem;
}

.navbar-link span {
font-size: 1.5rem;
font-weight: 900;
letter-spacing: 0.5rem;
margin-top: 1rem;
}
.menu {
width: 2rem;
height: 6rem;
background-color:#a79a2d;
position: fixed;
top: 1rem;
left: 5rem;
border-radius: 30rem 30rem 15rem 15rem;
box-shadow: 0.1rem 0.1rem 0.1rem #000000, -0.1rem -0.1rem 0.1rem #000;
cursor: pointer;
z-index: 100;
transition: top 0.4s 0.2s;
}
.menu.change {
top: 15rem;
transition: top 0.4s;
}

.menu::before {
content: "";
width: 0.3rem;
height: 15rem;
background-color: #ff0000;
position: absolute;
top: -15rem;
left: calc(50% - 0.15rem);
box-shadow: 0.1rem 0rem 0.1rem #000;
/* transition: all 0.4s; */
} 
.table_container {
display:flex;
align-items:center;
justify-content:center;
height:100vh;
}
.card {
max-width:600px;
height:400px;
margin:0 auto;
justify-content: center;

}
.card__body {
position:relative;
width:100%;
height:400px;
display:flex;
align-items:center;
justify-content:center;

}

.card__content {
display:flex;
justify-content:center;
flex-direction:column;
width:300px;
height:300px;
padding:5%;
background:#ffffff;
border-radius:100%;    
color:#FFF;
transition:all 0.5s ease;
}
.card__content * {
opacity:0;
width:60%;
transform:translate(50%);
transition:all 1s ease;
}
.anim *{
visibility: hidden;

}

.card__image {
top:60%;
left:50%;
height:10%;
width:20%;
transform:translate(-70%, -50%);
height:400px; 
max-width:100%;
position:absolute;
transition:all 0.5s ease;
}

.card__title {
margin-bottom:1rem;
font-size:1.4rem;
font-weight:300;
}

.card:hover .card__content {
background:#000000;
border-radius:25px;
border-color: #000000;
width:600px;

}
.card:hover .card__image {
transform:translate(20%, 0%);
left:60%;
}
.card:hover .card__content {
font-size:16px;
}

.card:hover .card__content * {
transform:translateX(0);
width:50%;
opacity:1;
}
.card:hover .anim *{

visibility: visible;
}
.container {
margin-top: 100px;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
}

h2 {
font-size: 26px;
margin: 20px 0;
text-align: center;
color: #a79a2d;
}
h2 small {
font-size: 0.5em;
}

.responsive-table li {
border-radius: 3px;
padding: 25px 30px;
display: flex;
justify-content: space-between;
margin-bottom: 25px;
}
.responsive-table .table-header {
background-color: #ffffff;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.03em;
}
.responsive-table .table-row {
background-color:#a79a2d ;
box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
flex-basis: 10%;
}
.responsive-table .col-2 {
flex-basis: 40%;
}
.responsive-table .col-3 {
flex-basis: 25%;
}
.responsive-table .col-4 {
flex-basis: 25%;
}
@media all and (max-width: 767px) {
.responsive-table .table-header {
display: none;
}
.responsive-table li {
display: block;
}
.responsive-table .col {
flex-basis: 100%;
}
.responsive-table .col {
display: flex;
padding: 10px 0;
}
.responsive-table .col:before {
color: #6c7a89;
padding-right: 10px;
content: attr(data-label);
flex-basis: 50%;
text-align: right;
}
}
.section-4 {
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color: rgb(255, 255, 255);
}
.form-container {
margin-top: 1rem;
width: 80%;
height: 40%;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: space-evenly;
box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
border-radius: 0.5rem;
perspective: 100rem;
}
.form-img {
width: 55rem;
background-color: rgb(245, 255, 212);
padding: 5rem;
opacity: 0.8;
box-shadow: -3rem 3rem 4rem #aaa;
border-radius: 0.5rem;
transform: rotateY(20deg);
transition: all 0.5s;
}
.form-img:hover {
transform: translateY(-2rem) rotateY(20deg);
box-shadow: -5rem 5rem 7rem #aaa;
} 
.contact-wrapper {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
}



.contact-details div {
display: inline;
width: 15rem;
text-align: center;
margin: 4rem;
}

.contact-details i {
font-size: 2rem;
color: #7a1010;
}

.contact-details h3 {
font-family: "MADE Soulmaze", sans-serif;
font-size: 1.5rem;
margin: 2rem 0;
color: rgb(59, 0, 0);
}

.contact-details p {
font-size: 1.01rem;
font-weight: 800;
color: rgb(0, 0, 0);
letter-spacing: 0.05rem;
font-family: Arial, Helvetica, sans-serif;
}
 
.contact-form:hover {
transform: translateY(-2rem) rotateY(-20deg);
box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
margin: 1rem;
padding: 1rem;
font-size: 1.3rem;
letter-spacing: 0.1rem;
border: none;
border-radius: 2rem;
box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}

.contact-form textarea {
max-height: 15rem;
min-height: 10rem;
max-width: 100%;
min-width: 70%;
}

.contact-form input[type="submit"] {
background-color: rgba(50, 231, 255, 0.8);
color: #fff;
font-weight: bolder;
letter-spacing: 0.5rem;
cursor: pointer;
transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
background-color: #32e7ff;
}
